body{
font-family:Arial;
margin:0;
background:#f4f6f9;
}


#hamburger{
font-size:28px;
position:fixed;
top:10px;
left:10px;
cursor:pointer;
background:white;
padding:8px 12px;
border-radius:8px;
z-index:1001;
box-shadow:0 3px 8px rgba(0,0,0,0.2);
}


#menu{
position:fixed;
left:0;
top:0;
width:230px;
height:100%;
background:#1f1f1f;
color:white;
padding:25px;
padding-top:70px;
display:none;
}

#menu button{
width:100%;
padding:12px;
margin:10px 0;
border:none;
background:#333;
color:white;
border-radius:8px;
cursor:pointer;
}


#content{
margin-left:60px;
margin-right:280px;
padding:20px;
}


#aiPanel{
position:fixed;
right:0;
top:0;
width:260px;
height:100%;
background:white;
border-left:1px solid #ddd;
padding:20px;
box-shadow:-4px 0 10px rgba(0,0,0,0.1);
}

#aiPanel input{
width:100%;
padding:10px;
margin-top:10px;
border-radius:6px;
border:1px solid #ccc;
}

#aiPanel button{
width:100%;
padding:10px;
margin-top:10px;
background:#2563eb;
color:white;
border:none;
border-radius:6px;
cursor:pointer;
}

#aiPanel button:hover{
background:#1d4ed8;
}
